#axes-color-picker .chrome-picker {
    border: none !important;

}

#tick-color-picker .chrome-picker {
    border: none !important;

}
.rc-slider-track{
    background-color:#747b7d;
}
.rc-slider-handle{
    background-color:#747b7d;
    border: solid 2px #747b7d;
}
.rc-slider-dot-active{
    border-color:#747b7d;
}
.rc-slider-handle:hover{
    border-color:#747b7d;
}


