.rc-slider-step  {
    background-color: #A2A2A2;
}
.rc-slider-dot-active{
    border-color: #A2A2A2;
}
.rc-slider-handle{
    border: solid 2px #A2A2A2;
    background-color: #A2A2A2;
}

.rc-slider-handle:hover{
    border: 2px solid #A2A2A2;
}