.rc-slider-track{
    background-color: #d2330e;
}
.rc-slider-handle{
    border : solid 2px #d2330e;
}
.rc-slider-dot-active,.rc-slider-dot-active{
    border-color : #d2330e;
}
.rc-slider-handle:hover{
    border-color : #d2330e;
}